@charset "UTF-8";

body{
  padding:5px;
}

.width{
	width: 610px;
}

.float-l{
	float:left;
}

.float-r{
	float:right;
}

.spaced-v{
	margin-bottom: 5px;
}

.spaced-h{
	margin-right: 5px;
}

.center-img{
	margin:5px auto;
}

.requisiteValues{
	width:80px;
}

td{
	padding:5px;
	text-align: center;
	border:2px solid gray;
}

.bordered{
	padding:5px;
	border:2px solid gray;
	border-radius:5px;
	clear:both;
}

.hidden{
	visibility: hidden;
}

.center{
	text-align:center;
}

.justify{
	text-align:justify;
}

#requisites{
  width:270px;
  margin-bottom:5px;
}

.glyphicon-ok{
    color: #04B431; /*dark green*/
}

.glyphicon-remove{
    color: #FE2E2E; /*dark red*/
}
