@charset "UTF-8";

body{
  padding:5px;
}

.table {
    width: 350px;
    text-align:center;
}

p{
    text-align:justify;
}

.column-left{
	float:left;
	margin-top:5px;
	margin-right:2%;
}

.column-right{
	display:inline-block;
}

.jxgbox {
    width:350px; 
    height:350px;
}

.rectangle{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.x-large{
    width:550px;
}

.large{
    width:500px;
}

.medium{
    width:400px;
}

.small{
    width:350px;
}

.center{
   text-align:center;
}

span.tab{
  padding: 0 5px; /* Or desired space*/
}

.height-350{
    height:350px;
}

.disabled{
    color: #A4A4A4;/*gray*/
}

.correct{
    color: #04B431; /*dark green*/
}

.error{
    color: #FE2E2E; /*dark red*/
}

.hidden{
    visibility: hidden;
}

.inline{
	display:inline-block;
}

.warning {
    color: #FE2E2E; /*dark red*/
    text-decoration: none; /*no underline for a link*/
}

