@charset "UTF-8";

body{
  margin: 10px;
  padding:10px;
}

.table {
    width: 35%;
    margin: 10px auto;
}

.jxgbox {
    width:350px; 
    height:350px;

    width: 35%;
    margin: 10px auto;/*centralized*/
}

.rectangle{
    margin-top: 10px;
    padding: 10px;
    width: 45%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.rectangle-jsx{
    float: left;
    height:350px;
    margin-right: 1%;
}

.disabled{
    color: #A4A4A4;/*gray*/
}

.glyphicon-ok{
    color: #04B431; /*dark green*/
}

.glyphicon-remove{
    color: #FE2E2E; /*dark red*/
}

