@charset "UTF-8";

body{
  margin: 10px;
  padding:10px;
}

.table {
    width: 35%;
    margin-left: 20%;
    margin-right: auto;
}

.jxgbox {
    width:350px; 
    height:350px;

    width: 35%;
    margin-left: 20%;
    margin-right: auto;
}

#triangleConstructible{
    width: 35%;
}

.rectangle{
    margin:10px;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.disabled{
    color: #A4A4A4;/*gray*/
}

.glyphicon-ok{
    color: #04B431; /*dark green*/
}

.glyphicon-remove{
    color: #FE2E2E; /*dark red*/
}

