@charset "UTF-8";

body{
  padding:5px;
  font-family: "PT Serif", serif;
  font-size: 15px;
}

.horizontalList { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	vertical-align:middle; 
}

.horizontalList li { 
	display: inline-block;
	vertical-align:middle; 
	text-align: center; 
	padding: 2px; 
	width: 20px; 
	cursor:pointer;
	margin:2px;
}

.numbers-1line{
	width:240px;/* n*width+(n-1)*2*margin */
	height:27px;
}

.numbers-2lines{
	width:196px;/* n*width+(n-1)*2*margin */
	height:54px;/* in 2 columns */
}

.placeholder{
	padding:0;
	margin-bottom:4px;
	width:24px; /* width+2*margin */
	height:31px; /* height+2*margin */
	background-color:yellow;
}

.spaced{
	margin:5px;
}

.big-spaced{
	margin:10px;
}

.hidden{
    visibility: hidden;
}

.bordered{
	padding:5px;
	border:1px solid gray;
	border-radius:5px;
}

.inline{
	display: inline-block; 
}

.lgray{
	background-color: #f6f6f6; /*light-gray*/
}

.blue{
	background-color: #2ECCFA; /*light-blue*/
}

#solution{
	background-color: #fbf0cc; /*light-orange*/
}

.bg-red{
    background-color: #F5A9A9; /*red*/ 
}

.bg-green{ 
    background-color: #58FAAC; /*green*/
}

.green{
    color: #04B431; /*dark green*/
}

.red{
    color: #FE2E2E; /*dark red*/
}


