@charset "UTF-8";

body{
  padding:5px;
}

#orchard {
  text-align: center;
}

p {
  text-align: justify;
}

span.tab{
  padding: 0 10px; /* Or desired space*/
}

.num{
  font-size: 16px;
  padding:1px;
  cursor:pointer;
}

.selected{
  color: #FE2E2E; /*dark red*/
}

.solution{
  border: 1px solid #04B431; /*dark green*/
} 

.gray{
  color: #BDBDBD; /*light gray */
}

.spaced{
	margin:5px;
}

.actual{
	color: #04B431;  /*dark green*/
}

