@charset "UTF-8";

body{
  padding:5px;
  font-family: "PT Serif", serif;
  font-size: 15px;
}

td{
	padding:10px;
	text-align: center;
	border: 1px solid gray; /*light-gray*/
	min-width:59px;
	min-height:42px;
	background-color:white;
	color:black;
}

.clickable{
	cursor:pointer;
}

.black{
	background-color:#BDBDBD;
}

.spaced{
	margin:5px;
}

.padding{
	padding:5px;
}

.spaced-h-large{
	margin-right:40px;
}

.margin-a{
	margin:auto;
}

.width-half{
	width:47%;
}	

.hidden{
    visibility: hidden;
}

.float-l{
	float:left;
}

.float-r{
	float:right;
}

.clear-b{
	clear:both;
}

.bordered{
	padding:5px;
	border:1px solid gray;
	border-radius:5px;
}

.justify{
	text-align:justify;
}

.inline{
	display: inline-block; 
}

.lgray{
	background-color: #f6f6f6; /*light-gray*/
}

.blue{
	background-color: #2ECCFA; /*light-blue*/
}

#solution{
	background-color: #fbf0cc; /*light-orange*/
}

.bg-red{
    background-color: #F5A9A9; /*red*/ 
}

.bg-green{ 
    background-color: #58FAAC; /*green*/
}

.green{
    color: #04B431; /*dark green*/
}

.red{
    color: #FE2E2E; /*dark red*/
}


