@charset "UTF-8";

body{
  padding:5px;
  font-family: "PT Serif", serif;
  font-size: 15px;
}

#gameTable {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

td{
	padding:10px;
	text-align: center;
	border: 1px solid gray; /*light-gray*/
}

.correct{
	color: #04B431;  /*dark green*/
}

.error{
	color: #FE2E2E; /*dark red*/
}

#numberOfPrimes{
	margin:5px;
}

.spaced{
	margin-bottom: 5px;
}

.table-striped>tbody>tr>td.mouse-over{
    border-style: double;
    border-color: red;
    background-color: #F3F781; /*yellow*/
    cursor:pointer;
}

.table-striped>tbody>tr>td.correct-click{
    background-color: #58FAAC; /*green*/
}

.table-striped>tbody>tr>td.wrong-click{
    background-color: #F5A9A9; /*red*/
}

.glyphicon-home{
    visibility: hidden;
}

.inline{
	display:inline-block;
	padding:5px 10px;
	border-radius: 5px;
}

.bordered{
	border: 1px solid gray; /*light-gray*/
}
