@charset "UTF-8";

body{
  padding:5px;
}

#requisites{
	width:250px;
	margin-top:4px;
}

#columns{
	width:510px;
}

#dRequisites{
	float:right;
}

.reqValues{
	width:70px;
}

.spaced{
	margin:5px;
}

td{
	padding:5px;
	text-align: center;
	border:2px solid gray;
}

.inline{
	display: inline-block; 
}

.float{
	display:inline-table; 
	float:left;
}

.weight-span{
	text-align:center;
    	display: table-cell;
    	vertical-align: middle;
}

.weight{
	width:40px;
	height:60px;
	border: solid 1px gray;
	cursor:pointer;
}

.side{
	text-align:center;
	width:250px;
	height:250px;	
}

.plate_label{
	margin-bottom:120px;	
}

.lgray{
	background-color: #f6f6f6; /*light-gray*/
}

.blue{
	background-color: #2ECCFA; /*light-blue*/
}

#weights{
	height:70px;
	padding:0px;
	margin-right:10px;
	margin-bottom:0px;
	border:5px solid yellow;
}

.small-w{
	width:170px;
}

.medium-w{
	width:210px;
}

.hard-w{
	width:250px;
}

.plate{
	width:250px;
	height:80px;
	border-bottom: solid 20px #909090;
	border-bottom-left-radius:20px; 
	border-bottom-right-radius:20px; 
}

.column{
	background-color: #909090; /*gray*/
	width:10px;
	height:250px;
}


